:root {
  --base-color: #dcdcdc;
  --primary-color: #cbcbcb;
  --secondary-color: #23967f;
  --black: #202020;
  --margins: 0.625em;

  --nav-padding: 15px;
  --background-color: #efe7da;
}

::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  margin: 0 10px 0 10px;
  width: 100vw !important;

  overflow-x: hidden;
}

.navbar {
  background-color: var(--primary-color);
  border-radius: var(--margins);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--margins);
  margin-left: var(--margins);
  margin-right: 10px;
  width: 100%;
}

.header {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.navbar {
  background-color: transparent;
  /* background-color: var(--primary-color); */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--nav-padding);
  width: calc(100% - 50px); /* Adjust for the body's margin */
  margin: 2em;
  grid-column: 1/-1;
}

.links > ul {
  display: flex;
  list-style: none;
}

li {
  text-decoration: underline;
  margin: 10px;
  font-size: larger;
}

li:last-child {
  margin-right: 20px;
}

li > a {
  color: inherit;
}


.logo {
  padding-left: 10px;
  font-size: 20px;
}

main {
  width: 100%;
  height: 100%;
  margin-bottom: 15em;
}

main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  margin-top: 2em;
}

.team-section,
.squad-section {
  width: 100%;
  height: 20em;
  border-radius: 25px;
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

.squad-section {
  height: auto;
}

.card , .active{
  background-color: transparent;
  width: 90%;
  height: 100%;
  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  transition: background-color 0.3s ease, box-shadow 0.4s ease,
    transform 0.4s ease;
  transform-style: preserve-3d; 
}

.card:hover , .active{ 
  background-color: #EFE7DA;
  transform: perspective(800px) translateZ(30px) rotateX(10deg) rotateY(7deg);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.ctive { 
  background-color: #EFE7DA;
  transform: perspective(800px) translateZ(30px) rotateX(10deg) rotateY(7deg);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.card:hover > .person-img, .card:active > .person-img , .active > .person-img{
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-name: imgrotation;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.person-img {
  mix-blend-mode: multiply;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10%;

  transform-style: preserve-3d;
  transform: translateZ(30px);
}

.campus-img{
  transform: translateX(0em);
}

.info {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.info > h4 {
  grid-row: 3 /4;
  font-size: larger;
  margin-left: 10px;
  color: transparent;
}

.info > button {
  grid-row: 4 /5;
  background-color: transparent;
  margin: 0 10px 10px 10px;
  height: 30px;
  border-radius: 9px;
  border: none;
  width: 10vw;
  color: transparent;
}

.card:hover .info > button,
.card:hover .info > h4,
.active .info > button, 
.active .info > h4
 { 
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-name: animateCardContents;
  animation-fill-mode: forwards;
}

.card:hover .info > button,
.active .info > button
{
  background-color: #cad4d3;
}

.info > button > a {
  color: inherit;
  text-decoration: none;
}


.campus-card {
  display: grid;
  grid-template-columns: 2fr;

  background-color: transparent;
  width: 90%;
  height: 100%;
  border-radius: 20px; 
}

.campus-card > img {
  width: 95%;
  border-radius: 20px;
}

.navbar,
footer {
  -webkit-box-shadow: -1px 2px 14px -1px rgba(158, 156, 158, 1);
  -moz-box-shadow: -1px 2px 14px -1px rgba(158, 156, 158, 1);
  box-shadow: -1px 2px 14px -1px rgba(158, 156, 158, 1);
}

footer {
  position: relative;
  bottom: 0;
  width: 98%;
  height: 10em;
  background-color: transparent;
  border-radius: 30px;
  margin: 20px 10px 0 10px;
}

.footer-nav {
  /* margin-left: 2em; */
  padding-top: 0.5em;
  text-decoration: underline;
}

.footer-nav h1 {
  font-size: 1.5em;
  padding-left: 1.2em;
}

.footer-nav h3 {
  padding-left: 1.5em;
}

h1 > a {
  color: inherit !important;
  text-decoration: none;
  font-size: 1.5em;
}

/* Landscape phones and down */
@media (max-width: 700px) {
  .logo {
    font-size: 1em;
  }

  li {
    font-size: 0.7em;
  }

  .team-section,
  .squad-section {
    display: flex;
    flex-direction: column;
  }

  .divider-1,
  .divider-2 {
    margin-right: 1em;
  }

  .divider-2 {
    margin-top: 50em;
  }

  .divider-3{
    width: 90%;
    margin-right: 16em;
  }

  .info > button {
    width: 10em;
    margin-left: 10px;
  }

  .info > h4 {
    margin-left: 10px;
  }

  .footer-nav {
    padding-top: 0.5em;
    text-decoration: underline;
  }

  .footer-nav h1 {
    padding: 0.5em;
    font-size: 1.5em;
    padding-bottom: 0;
  }

  .footer-nav h3 {
    padding-left: 10px;
    font-size: 1em;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 701px) and (max-width: 1000px) {
  .team-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .divider-2 {
    margin-top: 25em;
  }

  .team-section article:nth-of-type(1),
  .team-section article:nth-of-type(2) {
    grid-column: span 2;
  }

  .team-section article:nth-of-type(3) {
    grid-column: -4/-2;
  }

  .squad-section {
    grid-template-columns: repeat(2, 2fr);
  }

  .footer-nav {
    padding-top: 0.5em;
    text-decoration: underline;
  }

  .footer-nav h1 {
    padding: 0.5em;
    font-size: 1.5em;
    padding-bottom: 0;
  }

  .footer-nav h3 {
    padding-left: 10px;
    font-size: 1em;
  }
} 

@keyframes imgrotation {
  0% {
    border-radius: 30%;
    transform: scale(1) translateX(0);
  }
  /* 50% {
    border-radius: 40%;
    transform: scale(1.01) translateX(10px);
  } */
  100% {
    transition-duration: 2s ease;
    border-radius: 50%;
    transform: scale(1) translateX(0); 
  }
}

@keyframes animateCardContents {
  0% {
  }
  100% {
    color: black;
  }
}
