* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #DCDCDC;
}
header {
    background-color: #CBCBCB;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
header h1 {
    margin-left: 10px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

 main {
    padding: 20px;
 }
 
 h2 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
 }

.teamgrid, .squadgrid, .amstelcampusgrid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

.card {
   background-color: #e0e0e0;
   padding: 20px;
   text-align: center;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image {
   background-color: #ccc;
   width: 100%;
   height: 150px;
   margin-bottom: 10px;
   border-radius: 10px;
}

.image-card img {
   width: 100%;
   height: auto;
   border-radius: 10px;
}

button {
   margin-top: 10px;
   padding: 10px 20px;
   background-color: #888;
   border: none;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}

footer {
   text-align: center;
   padding: 20px;
   background-color: #ccc;
   margin-top: 40px;
}

footer p {
   font-size: 14px;
}

h3{
    margin-bottom: 1em;
    text-align: center;
    font-weight: normal;
}