* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #DCDCDC;
}
header {
    background-color: #CBCBCB;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
header h1 {
    margin-left: 10px;
}